.left-side {
    height: auto;
    padding-bottom: 50px;
}

.right-side {
}

.box {
    padding: 15px;
    background-color: var(--primary-light-green);
}

.text-group {
    margin-left: 10px;
}

.description {
    font-size: 17px;
}

.text-light-color {
    color: #679210;
}

.product-price-box {
    background-color: var(--primary-light-green);
    padding: 10px 5px;
    position: relative;
    border-radius: 5px;
}

.origin-price {
    text-decoration: line-through;
    position: absolute;
    top: 22px;
}

.text-red {
    color: red;
}

.weight-btn {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 5px;
    margin-right: 5px;
    background-color: white;
    margin-top: 5px;
}

.active {
    background-color: var(--primary-green);
    color: white;
}

.minus-btn,
.plus-btn {
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.input-quanlity:focus {
    outline: none;

}

.quantity-form {
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 135px;
    padding: 2px;
    border-radius: 5px;
}

.input-quanlity {
    width: 50px;
    border: none;
    text-align: center;
}

.add-to-cart-btn:hover {
    background-color: var(--hover-green);

}

.add-to-cart-btn {
    width: 400px;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.cart-icon {
    font-size: 35px;

}

.my-progress-bar {
    background-color: var(--primary-green);

}

.sale-title {
    padding: 10px 20px;
    width: 250px;
    color: white;
    border-radius: 5px;
}

.sale-detail {
    padding: 5px 10px;
}

.discount-item {
    border-radius: 5px;
    border: 3px solid var(--primary-green);
    padding: 10px 10px 20px 10px;
    position: relative;
}

.copy-btn {
    position: absolute;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    left: 120px;
}

.fa-info {
    border-radius: 100%;
    border: 1px solid var(--primary-green);
    padding: 4px 10px;
    color: var(--primary-green);
    cursor: pointer;
    left: 180px;
    top: 10px;
    position: absolute;
}

.product-images {
    width: 400px;

}

.description-box,.buy-guide-box {
    border: 1px solid var(--primary-green);
    padding: 	5px 10px;
    margin-top: 10px;
    border-radius: 5px;
}