
.color-icon{
    color: #cda45e;
}

.bg-primary-green {
    background-color: var(--primary-green);
}

header {
    width: 100%;
    background-color: var(--primary-white);
}

#topbar {
    height: 60px;
    font-size: 14px;
    transition: all 0.5s;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.menubar {
    width: 200px;
}

.navbar-nav {
    justify-content: space-between;
    text-align: center;
    border-radius: 5px;
}

.search-smart {
    position: relative;
}

.search-smart input {
    margin-top: 2px;
    height: 40px;
    width: 500px;
    border: 3px solid var(--primary-green);
    outline: none;
    border-radius: 10px;
}

.search-smart i {
    padding: 6px;
    position: absolute;
    border-radius: 5px;
    z-index: 1;
    top: 7px;
    right: 5px;
    font-size: 17px;
    color: white;
    cursor: pointer;
}

#navbarNav ul {
    border-radius: 10px;

}

.navbar-nav li {
    padding: 10px 0;
    margin: 0 auto;
}

.nav-item {
    cursor: pointer;
    color: #fbfcf9;
    padding: 20px;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 6px;
    z-index: 1;
    font-weight: 500;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #dfe2ea;
        border-radius: 8px 8px 0 0;
        opacity: 0;
        transition: 0.3s;
    }
}

.nav-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
}

.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.4s;
    height: 5px;
    z-index: -1;
    border-radius: 8px 8px 0 0;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    background-color: #fefefe;
    opacity: 0.3;
}

.carousel-caption h5 {
    font-size: 30px;
    color: var(--primary-white);
}

.carousel-caption p {
    font-size: 20px;
    color: var(--primary-white);
}

.btn-hover {
    color: #fff;
    background-color: var(--primary-green);
    border-color: var(--primary-green);
}

.btn-hover:hover {
    color: #fff;
    background-color: var(--hover-green);
    border-color: var(--hover-green);
}

.btn-green {
    color: var(--hover-green);
    border-color: var(--primary-green);
}

.btn-green:hover {
    color: #FFFFFF;
    background-color: var(--hover-green);
}
.top-cart-content{
    position: fixed;
    background-color: #FFFFFF;
    border: 1px solid var(--primary-green);
    border-radius: 5px;
    top: 60px;
    right: 280px;
}
.top-cart-content {
    display: none;
}

.top-cart-content.active {
    display: block;
}
.btn-user{
    position: relative;
}
.header-control .dropdown-menu{
    position: absolute;
    top: 55px;
    right:450px;
}
.dropdown-menu:hover{
    display: block;
}
.dropdown-menu a:hover{
    color: #FFFFFF;
    background-color: var(--primary-green);
}
.header-control .btn-user:hover + .dropdown-menu {
    display: block;
}
#navbarScroll .dropdown-menu{
    top: 58px;
    right:0px;
}
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    visibility: hidden;
    width: 44px;
    height: 44px;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border: 2px solid var(--primary-green);
    transition: opacity 0.4s ease-in-out;
}

.back-to-top i {
    font-size: 28px;
    color: #cda45e;
    line-height: 0;
}

.back-to-top:hover {
    background:var(--hover-green);
    color: #1a1814;
}

.back-to-top:hover i {
    color: #444444;
}

.card{
    position: relative;
}
.icons{
    opacity: 0;
    display: flex;
    position: absolute;
    transition: opacity 0.3s ease;
    right: 0;
    flex-direction: column;
}
.icons a{
    border: 1px solid var(--primary-green);
    padding: 10px;
    margin-bottom: 4px;
    color: #fff;
    background: var(--primary-green);
    text-decoration: none;
}
.icons a:nth-child(1) {
    border-radius: 5px 5px 0 0;
}

.icons a:nth-child(3) {
    border-radius: 0 0 5px 5px ;
}
.card:hover .icons {
    opacity: 1;
}
.icons a.fas.fa-heart.active {
    color: red;
}
#imageGallery li{
    list-style-type: none;
}