.news-container{
    padding: 20px;
    border-top: 1px solid var(--primary-green);
}
.card{
    cursor: pointer;
    padding: 0;
    height: 350px;
    width: 270px;
    margin-right: 24px;
}
.btn-news{
    border-radius: 10px;
    border: 1px solid var(--primary-white);
}
.btn-news:hover{
    color: #FFFFFF;
    background-color: var(--hover-green);
}
.time-post{
    cursor: grab;
    border-radius: 0 5px 0 5px ;
    height: 50px;
    width: 100px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}
.card-img-top {
    z-index: 0;
}
.card-body {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(103,146,16,0.3) 0%, var(--primary-green) 100%);
    background-size: cover;
    opacity: 0.8;
}
.card-img-top {
    position: relative;
    width: 100%;
    height: 100%;
}
.card-text {
    cursor: grab;
    visibility: hidden;
    height: 0;
    opacity: 1;
}
.card:hover .card-text {
    visibility: visible;
    height: auto;
}
.card-title:hover{
    color: black;
}
.item-news{
    color: black;
}
.item-news:hover{
    cursor: pointer;
    color: var(--primary-green);
}